@model CMS.Application.ViewModels.CMS.CategoryModel

@{
    ViewData["Title"] = "Quản lý danh mục";
    var index = 0;
}

<div class="col-xs-12" ng-controller="IndexController" ng-cloak>
    <div class="card">
        <div class="card-header">
            <div class="card-actions">
                <button type="button" class="card-action card-toggler" title="Collapse"></button>
            </div>
            <strong>@CMS.StaticResources.Resources.TEXT_CATEGORY</strong>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-bottom:15px" ng-click="Create()"><i class="icon icon-plus-circle"></i> @CMS.StaticResources.Resources.TEXT_CREATE</button>
            <div class="clearfix"></div>
            <table id="tblData" class="table table-bordered table-striped table-hover table-nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%"></table>
        </div>
    </div>
    <!-- Large modal -->
    <div class="modal fade" id="PnModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ UpdateMode ? "@CMS.StaticResources.Resources.TEXT_UPDATE" : "@CMS.StaticResources.Resources.TEXT_CREATE" }}</h4>
                </div>
                <form id="frmModal" name="frmModal" class="needs-validation" novalidate="">
                    <!-- /form .needs-validation -->
                    <div class="modal-body">
                        <div class="panel m-b-lg">
                            <div class="form-group">
                                <label>
                                    @CMS.StaticResources.Resources.TEXT_CATEGORY_NAME
                                </label>
                                <input type="text" name="CategoryName" class="form-control" ng-model="Data.CategoryName" required="">
                            </div>
                            <div class="form-group">
                                <label>
                                    <strong>
                                        {{ddlParent.Core.label}}
                                    </strong>
                                </label>
                                <custom-select2 myroot="ddlParent" label="@CMS.StaticResources.Resources.TEXT_CATEGORY_PARENT"></custom-select2>
                            </div>
                            <div class="form-group">
                                <label>
                                    <strong>
                                        {{ddlModule.Core.label}} <span class="icon icon-question-circle" data-toggle="tooltip" title="@CMS.StaticResources.Resources.TEXT_DISPLAY_TYPE_DESCRIPTION"></span>
                                    </strong>
                                </label>
                                <custom-select2 myroot="ddlModule" label="@CMS.StaticResources.Resources.TEXT_DISPLAY_TYPE"></custom-select2>
                            </div>
                            <ul class="nav nav-tabs">
                                <li ng-repeat="item in Data.Languages">
                                    <a href="#{{item.LanguageId}}" data-toggle="tab">{{item.Name}}</a>
                                </li>
                             </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade" id="{{item.LanguageId}}" ng-repeat="item in Data.Locales">
                                    <input ng-model="item.LanguageId" type="hidden" />
                                    <div class="form-group">
                                        <label>
                                            @CMS.StaticResources.Resources.TEXT_TITLE
                                        </label>
                                        <input type="text" class="form-control" ng-model="item.Title" required="">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            @CMS.StaticResources.Resources.TEXT_DESCRIPTION
                                        </label>
                                        <input type="text" class="form-control" ng-model="item.Description" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-control-primary custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" name="mode" ng-checked="true" ng-model="Data.IsActive">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label">@CMS.StaticResources.Resources.TEXT_ACTIVE</span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <!-- /.modal-body -->
                    <!-- .modal-footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">@CMS.StaticResources.Resources.TEXT_CLOSE</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="frmModal.$invalid" ng-click="Save()">{{ UpdateMode ? "@CMS.StaticResources.Resources.TEXT_UPDATE" : "@CMS.StaticResources.Resources.TEXT_CREATE" }}</button>
                    </div>
                </form>
                <!-- /.modal-footer -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>

@section scripts{
    <script>
        var IndexController = ($scope, $rootScope, $timeout, $filter, $compile, ApiHelper, CommonHelper, UtilFactory, DataFactory, $q) => {

            //#region declare variable
            $scope.Index = 0;
            $scope.UpdateMode = false;
            $scope.Data = { IsActive: true };
            $scope.Languages = {};
            //#endregion

            //#region Parent
            $scope.ddlParent = { Core: {}, CallBack: {} };
            $scope.ddlParent.Core.Text = 'CategoryName';
            $scope.ddlParent.Core.IDValue = 'CategoryId';

            $scope.ddlModule = { Core: {}, CallBack: {} };
            $scope.ddlModule.Core.Text = 'Name';
            $scope.ddlModule.Core.IDValue = 'ID';
            $scope.ddlModule.Core.IsHideValueDefault = true;
            $scope.ddlModule.Value = '0';
            $scope.ddlModule.Lst = [
                {ID: 0, Name: "@Html.Raw(CMS.StaticResources.Resources.TEXT_DISPLAY_TYPE_ARTICLE)"},
                {ID: 1, Name: "@Html.Raw(@CMS.StaticResources.Resources.TEXT_DISPLAY_TYPE_LIST)"}
            ];
            //#endregion

            //#region Datatable
            $(function () {
                var peopleList = $('#tblData').DataTable({
                    "bProcessing": true,
                    "bSort": true,
                    "bServerSide": true,
                    "language": {
                        paginate: {
                            previous: '<i class="icon icon-angle-double-left"></i>',
                            next: '<i class="icon icon-angle-double-right"></i>'
                        }
                    },
                    "sAjaxSource": "/Categories/Data",
                    "aoColumnDefs": [
                        {
                            "sName": "CategoryName",
                            "sTitle": "@CMS.StaticResources.Resources.TEXT_CATEGORY_NAME",
                            "bSearchable": true,
                            "bSortable": true,
                            "aTargets": [0]
                        },
                        {
                            'mRender': function (data, type, row, meta) {
                                return `
                                    <div class="text-center">
                                        <button class="btn btn-link link-muted btn-xs" type="button" ng-click="Update('` + data + `');" data-toggle="tooltip" data-placement="top" title="@CMS.StaticResources.Resources.TEXT_UPDATE">
                                           <span class="icon icon-pencil icon-lg icon-fw"></span>
                                         </button>
                                        <button class="btn btn-link link-muted btn-xs" type="button" ng-click="Delete('` + data + `');" data-toggle="tooltip" data-placement="top" title="@CMS.StaticResources.Resources.TEXT_DELETE">
                                           <span class="icon icon-trash-o icon-lg icon-fw"></span>
                                         </button>
                                    </div>`;
                            },
                            "sName": "CategoryId",
                            "bSortable": false,
                            "aTargets": [1],
                            "sWidth": "80px"
                        }
                    ],
                    "drawCallback": function (settings) {
                        $('[data-toggle="tooltip"]').tooltip();
                    },
                    createdRow: function (row, data, dataIndex) {
                        $compile(angular.element(row).contents())($scope);
                    }
                });
            });
            //#endregion

            //#region Init
            var Init = () => {
                let defer = $q.defer();
                $rootScope.MasterPage.IsLoading = true;
                let strApiEndPoint = CommonHelper.CategoryUrl + "Init";
                ApiHelper.GetMethod(strApiEndPoint)
                    .then(function (response) {
                        $rootScope.MasterPage.IsLoading = false;
                        $scope.Data = response.Data;
                        $timeout(function () {
                            $('.nav-tabs a[href="#1"]').tab('show');
                        }, 200);
                        defer.resolve(response);
                    })
                    .catch(function (response) {
                        sys.Alert(false, response.Message);
                        defer.reject(response);
                        $rootScope.MasterPage.IsLoading = false;
                    });
                return defer.promise;
            };
            //#endregion

            //#region ReadById
            var ReadById = (Id) => {
                let defer = $q.defer();
                $rootScope.MasterPage.IsLoading = true;
                let strApiEndPoint = CommonHelper.CategoryUrl + Id;
                ApiHelper.GetMethod(strApiEndPoint)
                    .then(function (response) {
                        $rootScope.MasterPage.IsLoading = false;
                        $scope.Data = response.Data;
                        $scope.ddlParent.API.SetValue($scope.Data.ParentId);
                        $scope.ddlModule.API.SetValue($scope.Data.ModuleId);
                        $timeout(function () {
                            $('.nav-tabs a[href="#1"]').tab('show');
                        }, 200);
                        defer.resolve(response);
                    })
                    .catch(function (response) {
                        sys.Alert(false, response.Message);
                        defer.reject(response);
                        $rootScope.MasterPage.IsLoading = false;
                    });
                return defer.promise;
            };
            //#endregion

            //#region Create
            $scope.Create = function () {
                $scope.UpdateMode = false;
                Init();
                $('#PnModal').appendTo("body").modal('show');
            };
            //#endregion

            //#region Update
            $scope.Update = function (Id) {
                $scope.UpdateMode = true;
                ReadById(Id);
                $('#PnModal').appendTo("body").modal('show');
            }
            //#endregion

            //#region Delete
            $scope.Delete = function (Id) {
                swal({
                    title: "@Html.Raw(CMS.StaticResources.Resources.MSG_CONFIRM_DELETE)",
                    text: "@Html.Raw(CMS.StaticResources.Resources.MSG_TEXT_DELETE)",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $rootScope.MasterPage.IsLoading = true;
                            let strApiEndPoint = CommonHelper.CategoryUrl + Id;
                            ApiHelper.DeleteMethod(strApiEndPoint)
                                .then(function (response) {
                                    $rootScope.MasterPage.IsLoading = false;
                                    $('#tblData').DataTable().ajax.reload(null, false);
                                    sys.Alert(true, '@CMS.StaticResources.Resources.MSG_TEXT_DELETE_SUCCESS');
                                })
                                .catch(function (response) {
                                    sys.Alert(false, response.Message);
                                    $rootScope.MasterPage.IsLoading = false;
                                });
                        }
                    });
            };
            //#endregion

            //#region Save
            $scope.Save = function () {
                if (!$scope.UpdateMode) {
                    $rootScope.MasterPage.IsLoading = true;
                    var x = $scope.Data;
                    let strApiEndPoint = CommonHelper.CategoryUrl;
                    $scope.Data.ParentId = $scope.ddlParent.Value;
                    $scope.Data.ModuleId = $scope.ddlModule.Value;
                    ApiHelper.PostMethod(strApiEndPoint, $scope.Data)
                        .then(function (response) {
                            $rootScope.MasterPage.IsLoading = false;
                            $('#tblData').DataTable().ajax.reload(null, false);
                            sys.Alert(true, '@CMS.StaticResources.Resources.MSG_TEXT_CREATE_SUCCESS');
                        })
                        .catch(function (response) {
                            sys.Alert(false, response.Message);
                            defer.reject(response);
                            $rootScope.MasterPage.IsLoading = false;
                        });
                    $('#PnModal').appendTo("body").modal('hide');
                }
                else {
                    $rootScope.MasterPage.IsLoading = true;
                    let strApiEndPoint = CommonHelper.CategoryUrl;
                    $scope.Data.ParentId = $scope.ddlParent.Value;
                    $scope.Data.ModuleId = $scope.ddlModule.Value;
                    ApiHelper.PutMethod(strApiEndPoint, $scope.Data)
                        .then(function (response) {
                            $rootScope.MasterPage.IsLoading = false;
                            $('#tblData').DataTable().ajax.reload(null, false);
                            sys.Alert(true, '@CMS.StaticResources.Resources.MSG_TEXT_UPDATE_SUCCESS');
                        })
                        .catch(function (response) {
                            sys.Alert(false, response.Message);
                            defer.reject(response);
                            $rootScope.MasterPage.IsLoading = false;
                        });
                    $('#PnModal').appendTo("body").modal('hide');
                }
            };
            //#endregion

            //#region GetAll
            $rootScope.MasterPage.IsLoading = true;
            UtilFactory.WaitingLoadDirective(
                [
                ]).then(() => {
                    $q.all({
                        Categories: DataFactory.Categories_Get(),
                        Languages: DataFactory.Languages_Get(),
                    }).then((MultipleRes) => {
                        $scope.ddlParent.Lst = MultipleRes.Categories.Data;
                        $scope.Languages.Lst = MultipleRes.Languages.Data;
                    });
                }).catch((response) => {
                    throw response;
                });
            $rootScope.MasterPage.IsLoading = false;
            //#endregion
        }
        IndexController.$inject = ["$scope", "$rootScope", "$timeout", "$filter", "$compile", "ApiHelper", "CommonHelper", "UtilFactory", "DataFactory", "$q"];
        addController("IndexController", IndexController);
    </script>
}